.pdash-icon{
	max-width: 20%;
	margin-right: 10px;
	height: auto;
	float: left;
	border: 0;
}

body {
	font-family: 'Lato';
}

a {
    color: #337ab7;
    text-decoration: none;
}

th{
	color: black;
}

td{
	overflow: hidden;
}

td:nth-child(3){
	max-width: 200px;
}

td:nth-child(4){
	max-width: 200px;
}

.fa-btn {
	margin-right: 6px;
}

.center{
	text-align: center;
}

.itemAction:hover{
 	cursor: pointer;
}

.panel-footer{
	text-align: right !important;
}

.itemAction{
	margin-left: 5px;
	margin-right:5px;
}

.service-section {
	padding-top: 50px;
    padding-bottom: 50px;
}

.grid-parent{
	text-align: center;
}

.grid-10{
	width: 33%;
}

.iconpicker{
	line-height: 20px !important;
}

.msjError{
	font-size:12px;
	color:red;
	display: block;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: -3px 10px 0px 5px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    margin-top: -2px;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.uploadSpan{
	width: 33%;
	display: initial;
}

label {
	display: block;
}

.pdash-icon{
	max-height: 100%;
	display: inline-block !important;
}

.portfolio-image > img{
 	width:100%
}
