body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: #FFFFFF;
	font: 15px/23px "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #8F989F;
}

/* #Typography
================================================== */

h1, h2 { color: #333333; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: 600; line-height:100%; margin-bottom:20px; margin-top:0; text-rendering: optimizelegibility; }
h3, h4, h5, h6 { color: #333333; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: normal; line-height:100%; margin-bottom:20px; margin-top:0; text-rendering: optimizelegibility; }
h1 { font-size:30px; }
h2 { font-size:26px; }
h3 {
	font-size: 26px;
}
h4 { font-size:16px; }
h5 { font-size:14px; }
h6 { font-size:12px; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
p { margin: 0 0 20px 0; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #77777;  }
em { font-style: italic; }
strong { font-weight: bold; color: #c02474;}
small { font-size: 80%; }

/*	Blockquotes  */

blockquote, blockquote p { font-size: 17px; line-height: 24px; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #DDDDDD; }
blockquote cite { display: block; font-size: 12px; color: #999999; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a { color: #999999; }

hr { border: solid #DDDDDD; border-width: 1px 0 0; clear: both; margin: 20px 0 40px; height: 0; }

/*	Links  */
a{
	text-decoration: none;
	-webkit-transition: 0.2s color linear;
	-moz-transition: 0.2s color linear;
	transition: 0.2s color linear;
	color: #552499;
}

/*	HTML  */
* {
	font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    white-space: normal;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

section{
	display: block;
}

p {
	margin: 0 0 20px 0;	
}

.grid-10{
	float: left;
	width: 11%;
}

.grid-20{
	float: left;
	width: 20%;
}

.grid-33{
	float: left;
	width: 33%;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-40{
	float: left;
	width: 40%;
}

.grid-70{
	float: left;
	width: 70%;
}

.grid-80{
	float: left;
	width: 80%;
}

.grid-90{
	float: left;
	width: 90%;
}

.grid-100{
	clear: both;
	width: 100%;
}

.prefix-5{
	margin-left: 5%;
}

.postfix-5{
	margin-right: 5%;
}

.prefix-15{
	margin-left: 15%;
}

.prefix-60{
	margin-left: 60%;
}

/* Header styles */

#header-section{
	line-height: 105px;
	height: 110px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	z-index: 1000;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0 1px 10px rgba(31, 50, 63, 0.25);	
}

.header-show{
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.header-hide{
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

#header-container{
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
}

#header-container nav a::after {
    content: '·';
    font-size: 20px;
    position: absolute;
    top: 0;
    color: #999999;
    font-weight: bold;
    left: 10px;
}

.nav a:first-child:after{
	display: none;
}

.logo {
    text-align: left;
    margin: 0;
    line-height: 105px;
    color: #1d1d1d;
    text-transform: uppercase;
}

.logo img{
	max-height: 85px;
	vertical-align: middle;
}

#nav-section{
	height: 100%;
	text-align: right;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 500;
}

.nav{
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
}

.nav a{
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px;
	cursor: pointer;
	color: #777777;
	outline: none;
	text-decoration: none;
	padding-left: 30px;
	position: relative;
}

.nav a:hover{
	color: #552499;
}

.selected {
    color: #552499 !important;
}

img{
	max-width: 100%;
	height: auto;
	border: 0;
}

/* End Header styles */

/* Slider Section Styles */

.slider, .slides{
	position: relative;
	height: 100%;
	width: 100%;
}

.slider .hero-holder{
	z-index: 500;
}

.hero{
	height: 100%;
	min-height: 100%;
	position: relative;
	overflow: hidden;
	text-align: center;
	z-index: 750;
}

.hero .hero-holder{
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	transition: 0s;
	min-width: 450px;
	max-width: 100%;
	text-shadow: 0 0 10px rgba(0,0,0,.2);
	display: none;
}

.hero-description {
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	margin-bottom: 10px;
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
	display: block;
	text-rendering: optimizelegibility;
}

.hero-title-holder{
	display: none;
}

.hero-title{
	font-size: 4.1em;
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	color: #FFFFFF;
	padding-top: 20px;
}

.hero-title span{
	text-shadow: 0 0 10px rgba(255,255,255,.2);
	color:#c02474;
}

.btn-holder{
	display: block;
}

.hero-btn{
	background: rgba(147, 122, 174, 0.10);
	color: #FFFFFF;
	border: 1px solid rgba(147, 122, 174, 0.15);
	padding: 10px 15px;
	font-size: 12px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	display: inline-block;
	text-rendering: optimizelegibility;
	-webkit-transition: 0.2s background linear;
	-moz-transition: 0.2s background linear;
	transition: 0.2s background linear;
}

.hero-btn:hover{
	color: #FFFFFF;
	background: rgba(255, 255, 255, 0.15);
}

.main-slider{
	position: relative;
	height: 100%;
	width: 100%;
}

.slides li{
	height: 100%;
	width: 100%;
	display: block;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	height: 100% !important;
	position: relative;
	width: 100% !important;
	background-position: center center !important;
}

/* End Slider Section Styles */

/* Section Styles */

.section-container{
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}

.grid{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-parent{
	padding-left: 0;
	padding-right: 0;
}

.section-header{
	text-align: center;
	padding-bottom: 50px;
}

.section-title{
	font-size: 40px;
	margin-bottom: 20px;
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position: center center;
	text-transform: uppercase;
}

.section-title span{
	background: #FFFFFF;
	padding: 0 35px;
}

.section-slogan{
	font-size: 20px;
	line-height: 140%;
}

.section-title, .parallax-title {
	opacity: 0;
	transition: all 1.0s;
}

.section-slogan, .parallax-slogan, .section-extra{
	opacity: 0;
	transition: all 1.0s;
	transition-delay: 0.5s;
}

.about-section{
	padding-bottom: 90px;
}

.content-section{
	padding-top: 150px;
	padding-bottom: 130px;
	background: #FFFFFF;
}

.team-section{
	padding-bottom: 90px;
}

.cta-section{
	position: relative;
	text-align: center;
	padding: 50px 0;
	color: #FFFFFF;
	background: #fdfd28 !important;
}

.cta-btn{
	font-family: 'Raleway',Helvetica,Arial,sans-serif;
	font-weight: 500;
}

.cta-btn a{
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.4em;
}

.cl-effect-18{
	position: relative;
	z-index: 1;
}

.cl-effect-18 a{
	padding: 0 5px;
	color: black;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-18 a::before{
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}

.cl-effect-18 .rotate::before{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	opacity: 0.7;
}

.cl-effect-18 a::after{
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	transform: translateY(20px);
}

.cl-effect-18 .rotate::after{
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	opacity: 0.7;
}

.cl-effect-18 a::before, .cl-effect-18 a::after {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    height: 2px;
    margin-top: -1px;
    background: black;
    content: '';
    z-index: -1;
    pointer-events: none;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.service-section {
    padding-bottom: 130px;
}

.service-section .parallax-header, .phrases-section .parallax-header {
    padding-bottom: 70px !important;
}

#service-section .parallax-slogan {
    font-size: 27px;
    color: white;
}

.icon-box {
    position: relative;
    margin-bottom: 0px;
    width: 65px;
    height: 65px;
    float: none;
    margin-right: 0;
    margin: 0 auto;
}

.service-section .service-icon {
    display: block;
    text-align: center;
    font-size: 35px;
    line-height: 65px;
    background: rgba(0, 0, 0, 0.5);
    color: #9d9a94;
    z-index: 3;
    position: relative;
    border-radius: 50%;
}

.service-box{
	opacity: 0;
	transition: all 1.0s;
	transition-delay: 1s;
}

.info {
    overflow: hidden;
    text-align: center;
}

.info h3 {
    font-size: 14px;
    color: #fdfd28;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    text-transform: uppercase;
    padding-top: 25px;
}

.slide{
	width: 100%;
}

.slick-prev, .slick-next{
	z-index: 1;
}

#phrases-section{
	padding-bottom: 130px;
}

.quotes{
	margin-top: 50px;
	padding: 200px 0;
	min-height: 140px;
}

.ut-parallax-quote-title{
	font-size: 45px;
	text-align: center;
	margin-bottom: 20px;
	color: #fdfd28;
	text-transform: uppercase;
}

.ut-parallax-quote-name{
	display: block;
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #fdfd28;
}

.portfolio-box{
	opacity: 0;
	transition: all 1.0s;
	transition-delay: 1s;

	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}

.portfolio-image {
    margin: 0;
}

.portfolio-image img {
    display: block;
    width: 100%;
    box-shadow: 0 0 0 0 #000000;
}

.portfolio-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    text-align: center;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    transition: 0.2s all linear;
    backface-visibility: hidden;
}

.portfolio-caption {
    background: rgba(192,36, 116, 0.85);
}

.portfolio-caption::before {
    content: "";
    height: 100%;
}

.portfolio-caption::before, .portfolio-title {
    display: inline-block;
    vertical-align: middle;
}

.portfolio-title {
    color: #FFFFFF;
    margin: 0;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 10px;
    width: 90%;
}

.portfolio-category {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 5px;
}

.portfolio-box:hover .portfolio-caption {
    opacity: 1;
}

.clear{
	overflow: hidden;
}

/* End Section Styles */

/* Modal Styles */

#portfolio-modal .modal-dialog{
	width: 100%;
	margin: 0;
}

.photos span {
    margin-bottom: 10px;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
}

.modal .section-header{
	padding-bottom: 0px;
}

/* Modal Styles */


/* Parallax Styles */

.parallax-section {
    position: relative;
    overflow: hidden;
    width: 100%;

    background-size: cover;
	background-attachment: fixed;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.parallax-content {
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    width: 90%;
    margin-left:5%;
    padding-left: 10px;
    padding-right: 10px;
}

.parallax-content .parallax-header {
    padding: 200px 0;
}

.parallax-header {
    position: relative;
    text-align: center;
}

.parallax-title {
    font-size: 40px;
    margin-bottom: 20px;
    color: #fdfd28;
    padding-top: 20px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
}

.parallax-slogan {
    font-size: 37px;
    line-height: 140%;
    margin: 0;
    z-index: 10;
    position: relative;
    padding-top: 30px;
    color: #fdfd28;
}

.parallax-banner-2 {
	background-image: url("../img/parallax-banner-2.jpg");
}

.parallax-banner-6 {
	background-image: url("../img/parallax-banner-6.jpg");
}

.parallax-banner-7{
	background-image: url("../img/parallax-banner-7.jpg");
}

/* End Parallax Styles */



/* MEDIA QUERIES*/
@media screen and (min-width: 768px) and (max-width: 1024px){
	.tablet-100{
		width: 100%;
		margin-left: 0px;
	}

	.tablet-50{
		width: 50%;
	}

	.tablet-fix-0{
		margin-left: 0;
		margin-right: 0;
	}

	.parallax-section{
		max-width: 100%;
	}

	.parallax-content .parallax-header{
		padding-bottom: 100px;
		padding-top: 50px;
	}

	.grid-10{
		width: 33%;
		padding-top: 10px;
	}

	#service-section .parallax-slogan{
		font-size: 20px;
	}

	.quotes{
		margin-top: 50px;
		padding: 200px 0 !important;
		min-height: 140px;
	}
}

@media screen and (max-width: 767px) {
	#header-section {
		display: none; 
	}

  	.mobile-100{
		width: 100%;
		margin-left: 0px;
	}

	.mobile-fix-0{
		margin-right: 0;
		margin-left: 0;
	}

	.section-title, .parallax-title{
		font-size: 25px;
	}

	.section-title span{
		padding: 0;
	}

	.section-slogan, .parallax-slogan{
		font-size: 15px;
	}

	.about-section, .team-section{
		padding-bottom: 0;
		padding-top: 50px;
	}

	.parallax-content .parallax-header{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.parallax-section{
		background-attachment: inherit;
	}

	.hero-title{
		font-size: 45px;
		margin-top: 0;
	}

	.slides li{
		background-size: contain;
	}

	.grid-10 {
    	width: 33%;
    	padding-top: 10px;
	}

	.info {
		text-align: center;
	}

	.info h3{
		font-size: 10px;
		padding-top: 0px;
	}

	.cta-section {
   		padding-bottom: 50px;
	}

	#service-section .parallax-slogan{
		font-size: 100%;
	}

	#phrases-section{
		padding-bottom: 0;
	}

	.quotes{
		margin-top: 50px;
		padding: 70px 0 !important;
		min-height: 140px;
	}

	.ut-parallax-quote-title{
		font-size: 30px;
	}

	.ut-parallax-quote-name{
		font-size: 15px;
	}
}

@media screen and (max-width: 400px){
	.hero-title{
		font-size: 25px;
		margin-top: 0;
	}
}